.product-demo-head.section
    ._top-wrap
        ._title PARLO ITALIANO
        ._desc Продавать по России за 6 месяцев
            br/ после старта
        .main-slider__text.
            <b>«ЗДРАВСТВУЙ, ДЕНЬ!»</b> — результат расширения бренд-портфеля
            компании «Фаворит». Марка рассчитана на людей, стремящихся
            к введению в свой рацион отдельных блюд или элементов
            здорового питания.
    ._wrap
        ._agency-desc Агентство A.STUDIO разработало бренд Parlo italiano для ценового сегмента «средний плюс». В ассортимент входят вареные и сыровяленые колбасы в белой плесени. Каждое изделие производится под присмотром итальянских технологов.
        ._advantages
            ._advantages-item
                ._advantages-icon
                    +svg('map-marker')
                ._advantages-desc Выход в крупные
                    br/ города по всей
                    br/ России
            ._advantages-item
                ._advantages-icon
                    +svg('store')
                ._advantages-desc Представленность
                    br/ в региональных
                    br/ и федеральных
                    br/ сетях
            ._advantages-item
                ._advantages-icon
                    +svg('growth')
                ._advantages-desc Динамика продаж
                    br/ позволяет выйти
                    br/ к концу 2019 г. на
                    br/ полную загрузку
                    br/ мощностей
        ._start *Старт состоялся в сентябре 2018