footer.footer.section
    ._wrap.wrap
        ._content
            ._menu
                ._menu-title Наши услуги
                a(href="#")._menu-item Дизайн упаковки
                a(href="#")._menu-item Фирменный стиль
                a(href="#")._menu-item Нейминг
                a(href="#")._menu-item Брендинг
            ._social-block
                a(href="#")._social-item
                    +svg('facebook', 'footer-icon')
                a(href="#")._social-item
                    +svg('google-plus', 'footer-icon')
                a(href="#")._social-item
                    +svg('vk', 'footer-icon')
                a(href="#")._social-item
                    +svg('behance', 'footer-icon')
                a(href="#")._social-item
                    +svg('instagram', 'footer-icon')
            ._note.
                2014—2019 © A.STUDIO брендинговое агенство. Новосибирск, проспект Карла
                Маркса, 53А, оф. 403 <br>
                Использование материалов сайта разрешено только с указанием авторства и
                обратной ссылкой на оригинал.
        ._form
            button._btn подписаться на рассылку
            ._link-group
                a(href="#")._link-item.-dashed Задать вопрос
                a(href="#")._link-item Вакансии
            ._contact-group
                a(href="tel:+73832075518")._contact-item +7 (383) 207-55-18
                a(href="mailto:info@advertastudio.ru")._contact-item.-line info@advertastudio.ru
