@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/ttnorms/TTNorms-Bold.eot');
  src: url('../fonts/ttnorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ttnorms/TTNorms-Bold.woff2') format('woff2'),
      url('../fonts/ttnorms/TTNorms-Bold.woff') format('woff'),
      url('../fonts/ttnorms/TTNorms-Bold.ttf') format('truetype'),
      url('../fonts/ttnorms/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/ttnorms/TTNorms-Light.eot');
  src: url('../fonts/ttnorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ttnorms/TTNorms-Light.woff2') format('woff2'),
      url('../fonts/ttnorms/TTNorms-Light.woff') format('woff'),
      url('../fonts/ttnorms/TTNorms-Light.ttf') format('truetype'),
      url('../fonts/ttnorms/TTNorms-Light.svg#TTNorms-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/ttnorms/TTNorms-Regular.eot');
  src: url('../fonts/ttnorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ttnorms/TTNorms-Regular.woff2') format('woff2'),
      url('../fonts/ttnorms/TTNorms-Regular.woff') format('woff'),
      url('../fonts/ttnorms/TTNorms-Regular.ttf') format('truetype'),
      url('../fonts/ttnorms/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/ttnorms/TTNorms-Italic.eot');
  src: url('../fonts/ttnorms/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ttnorms/TTNorms-Italic.woff2') format('woff2'),
      url('../fonts/ttnorms/TTNorms-Italic.woff') format('woff'),
      url('../fonts/ttnorms/TTNorms-Italic.ttf') format('truetype'),
      url('../fonts/ttnorms/TTNorms-Italic.svg#TTNorms-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Stem';
  src: url('../fonts/stem/StemW03-Light.eot');
  src: url('../fonts/stem/StemW03-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/stem/StemW03-Light.woff2') format('woff2'),
      url('../fonts/stem/StemW03-Light.woff') format('woff'),
      url('../fonts/stem/StemW03-Light.ttf') format('truetype'),
      url('../fonts/stem/StemW03-Light.svg#StemW03-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('../fonts/stem/StemW03-Regular.eot');
  src: url('../fonts/stem/StemW03-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/stem/StemW03-Regular.woff2') format('woff2'),
      url('../fonts/stem/StemW03-Regular.woff') format('woff'),
      url('../fonts/stem/StemW03-Regular.ttf') format('truetype'),
      url('../fonts/stem/StemW03-Regular.svg#StemW03-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}