.blog.section
  ._wrap.wrap
    h2._title.section__title Последние события в 
      a(href="#")._title-link блоге
    ._card-wrapper
      ._card
        ._card-view
          img(src="img/slide1.jpg", alt="slide")._card-img
        a(href="#")._card-title Как создать сильный региональный ритейл-бренд
        ._card-text В рамках дня брендинга мы поделились знаниями о том, как вывести на рынок успешную
      ._card
        ._card-view
          img(src="img/slide2.jpg", alt="slide")._card-img
        a(href="#")._card-title Tone of voice: как ващ бренд общается с людьми. Часть 2
        ._card-text Типичные ошибки при выборе голоса бренда и что необходимо делать, чтобы их избежать
      ._card
        ._card-view
          img(src="img/slide3.jpg", alt="slide")._card-img
        a(href="#")._card-title Tone of voice: как ваш бренд общается с людьми. Часть 1
        ._card-text Зачем нужна тональность коммуникации и как правильно её выбирать