@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Bold.eot');
    src: url('TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Bold.woff2') format('woff2'),
        url('TTNorms-Bold.woff') format('woff'),
        url('TTNorms-Bold.ttf') format('truetype'),
        url('TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Light.eot');
    src: url('TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Light.woff2') format('woff2'),
        url('TTNorms-Light.woff') format('woff'),
        url('TTNorms-Light.ttf') format('truetype'),
        url('TTNorms-Light.svg#TTNorms-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular.eot');
    src: url('TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Regular.woff2') format('woff2'),
        url('TTNorms-Regular.woff') format('woff'),
        url('TTNorms-Regular.ttf') format('truetype'),
        url('TTNorms-Regular.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Italic.eot');
    src: url('TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Italic.woff2') format('woff2'),
        url('TTNorms-Italic.woff') format('woff'),
        url('TTNorms-Italic.ttf') format('truetype'),
        url('TTNorms-Italic.svg#TTNorms-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Italic_1.eot');
    src: url('TTNorms-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Italic_1.woff2') format('woff2'),
        url('TTNorms-Italic_1.woff') format('woff'),
        url('TTNorms-Italic_1.ttf') format('truetype'),
        url('TTNorms-Italic_1.svg#TTNorms-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Light_1.eot');
    src: url('TTNorms-Light_1.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Light_1.woff2') format('woff2'),
        url('TTNorms-Light_1.woff') format('woff'),
        url('TTNorms-Light_1.ttf') format('truetype'),
        url('TTNorms-Light_1.svg#TTNorms-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular_1.eot');
    src: url('TTNorms-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Regular_1.woff2') format('woff2'),
        url('TTNorms-Regular_1.woff') format('woff'),
        url('TTNorms-Regular_1.ttf') format('truetype'),
        url('TTNorms-Regular_1.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Bold_1.eot');
    src: url('TTNorms-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Bold_1.woff2') format('woff2'),
        url('TTNorms-Bold_1.woff') format('woff'),
        url('TTNorms-Bold_1.ttf') format('truetype'),
        url('TTNorms-Bold_1.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

