.swiper-container(data-slider="parlo-italiano-slider")
    .swiper-wrapper
        .swiper-slide
            img(src="img/demo-slide-1.jpg")
        .swiper-slide
            img(src="img/demo-slide-2.jpg")
        .swiper-slide
            img(src="img/demo-slide-3.jpg")