doctype html
html
    include ../elements/head/head
    +head('Astudio - брендинговое агенство', '', '')
    body

        include ../elements/header/header
        include ../elements/main-slider/main-slider
        include ../elements/about/about
        include ../elements/offers/offers
        include ../elements/info/info
        include ../elements/portfolio/portfolio
        include ../elements/feedback/feedback
        include ../elements/form/form
        include ../elements/blog/blog
        include ../elements/footer/footer
        
        script(src="js/libs.min.js")
        script(src="js/custom.js")