.feedback.section
    h2._title.section__title Наши клиенты
    ._wrap.wrap
        ._logos
            ._logo-item.-magnit
                img(src="img/magnit.svg" alt="Магнит")
            ._logo-item.-x5
                img(src="img/x5-retail.svg" alt="X5 Retail Group")
            ._logo-item.-kdv
                img(src="img/KDV.svg" alt="KDV")
            ._logo-item.-prod
                img(src="img/prodvagon.svg" alt="Продвагон")
            ._logo-item.-katren
                img(src="img/katren.svg" alt="Катрен")
            ._logo-item.-monetka
                img(src="img/monetka.svg" alt="Монетка")
            ._logo-item.-gurman
                img(src="img/sib-gurman.svg" alt="Сибирский Гурман")
            ._logo-item.-sibprod
                img(src="img/spk.svg" alt="Сибирская продовольственная компания")
            ._logo-item.-mezhenin
                img(src="img/mezheninovskaya.svg" alt="Межениновская птицефабрика")
        ._client-slider.swiper-container(data-slider="main-reviews")
            ._client-slider-wrapper.swiper-wrapper
                ._client.swiper-slide
                    ._client-view
                        img(src="img/client.png", alt="client")._client-img
                        ._client-name Анна Собянина, <br> Директор A.STUDIO
                    ._client-desc
                        ._right-arrow »
                        ._left-arrow «
                        ._client-text.
                            Было приятно отметить, что для всех участников тема оказалась востребована
                            и интересна. Хорошо, что существует подобная программа, которая помогает развиваться малому и среднему бизнесу
                            в Казахстане.
                        ._client-text.
                            Говоря о планах на дальнейшее развитие,
                            хотелось бы в следующий раз представить
                            более разносторонние кейсы.
                ._client.swiper-slide
                    ._client-view
                        img(src="img/client.png", alt="client")._client-img
                        ._client-name Анна Собянина, <br> Директор A.STUDIO
                    ._client-desc
                        ._right-arrow »
                        ._left-arrow «
                        ._client-text.
                            Было приятно отметить, что для всех участников тема оказалась востребована
                            и интересна. Хорошо, что существует подобная программа, которая помогает развиваться малому и среднему бизнесу
                            в Казахстане.
                        ._client-text.
                            Говоря о планах на дальнейшее развитие,
                            хотелось бы в следующий раз представить
                            более разносторонние кейсы.
                ._client.swiper-slide
                    ._client-view
                        img(src="img/client.png", alt="client")._client-img
                        ._client-name Анна Собянина, <br> Директор A.STUDIO
                    ._client-desc
                        ._right-arrow »
                        ._left-arrow «
                        ._client-text.
                            Было приятно отметить, что для всех участников тема оказалась востребована
                            и интересна. Хорошо, что существует подобная программа, которая помогает развиваться малому и среднему бизнесу
                            в Казахстане.
                        ._client-text.
                            Говоря о планах на дальнейшее развитие,
                            хотелось бы в следующий раз представить
                            более разносторонние кейсы.
                ._client.swiper-slide
                    ._client-view
                        img(src="img/client.png", alt="client")._client-img
                        ._client-name Анна Собянина, <br> Директор A.STUDIO
                    ._client-desc
                        ._right-arrow »
                        ._left-arrow «
                        ._client-text.
                            Было приятно отметить, что для всех участников тема оказалась востребована
                            и интересна. Хорошо, что существует подобная программа, которая помогает развиваться малому и среднему бизнесу
                            в Казахстане.
                        ._client-text.
                            Говоря о планах на дальнейшее развитие,
                            хотелось бы в следующий раз представить
                            более разносторонние кейсы.