.about.section
    h2._title.section__title О нас
    ._wrap.wrap
        ._img-wrap
            ._img-item.-i2
                img(src="img/gallery2.jpg", alt="people")._image.-i2.show3
                ._img-text.
                    Мы ценим прозрачность <br>
                    и честность в сотрудничестве, <br>
                    верим в надежные <br>
                    длительные отношения
            ._img-item.-i1
                img(src="img/gallery1.jpg", alt="people")._image.-i1.show1
                ._content
                    ._content-num 89%
                    ._content-text клиентов остаются сотрудничать
        ._img-wrap
            ._img-item.-i3
                img(src="img/gallery3.jpg", alt="people")._image.-i3
                ._content
                    ._content-text более
                    ._content-num 300
                    ._content-text реализованых <br> проектов
            ._img-item.-i4
                img(src="img/gallery4.jpg", alt="people")._image.-i4.show4
                ._content
                    ._content-num.-vbig 40
                    ._content-text.-big регионов РФ <br> и СНГ — география клиентов
        ._img-wrap
            ._img-item.-i5
                img(src="img/gallery5.jpg", alt="people")._image.-i5.show2
                ._img-text.-circle.
                    Команда агентства на связи <br>
                    в любом часовом поясе <br>
                    и на каждом этапе проекта
            ._img-item.-i6
                ._content.-i6
                    ._content-num.-big c 2012
                    ._content-text.-big в брендинге
