.product-demo-description.section
    ._wrap.wrap
        ._group
            img(src="img/desc-package-1.png")._img
            ._text-box
                ._title Ностальгия по Италии
                ._text Каждый продукт у человека связан с какими-либо эмоциями или личными историями. Покупатели Parlo italiano раньше путешествовали по Европе, после чего в России покупали импортные деликатесы, чтобы вспомнить яркие дни отпуска.
                ._text С 2014 года на полках практически не осталось продукции из Евросоюза, в то же время не оказалось достойного заменителя. Чтобы закрыть потребность покупателя, мы определили позиционирование Parlo italiano как «ностальгия по Италии».
        ._group.-second
            img(src="img/desc-package-2.png")._img
            ._text-box
                ._title Вернуть покупателя в тур
                ._text Название переводится как «я говорю по-итальянски», так как во время путешествия по другой стране турист узнает новые фразы и активно их использует, особенно, если это колоритный итальянский язык. Название Parlo italiano передает фирменный темперамент языка и непринужденное общение бренда с покупателем.
                ._text Каждый продукт — это маленькая провинция. Упаковка призывает посетить все уголки страны, встретить знакомые пейзажи, на которых есть истинно итальянские средства для путешествия. Дизайн приглашает покупателя окунуться в воспоминания или же запланировать новую поездку по Италии.