.portfolio.section
    h2._title.section__title Наши работы
    ._wrap.wrap
        ._col
            ._image.-tea
                ._overlay
                    ._overlay-title.
                        «ПЛОМБИРЪ СИБИРЬ» <br>
                        Больше орехов, больше ягод
                    ._overlay-text.
                        #визуальная идентификация <br>
                        #фирменный стиль #дизайн упаковки
            ._img-wrap
                ._image.-reason
                    ._overlay
                        ._overlay-title.
                            «ПЛОМБИРЪ СИБИРЬ» <br>
                            Больше орехов, больше ягод
                        ._overlay-text.
                            #визуальная идентификация <br>
                            #фирменный стиль #дизайн упаковки
                ._image.-siberia
                    ._overlay
                        ._overlay-title.
                            «ПЛОМБИРЪ СИБИРЬ» <br>
                            Больше орехов, больше ягод
                        ._overlay-text.
                            #визуальная идентификация <br>
                            #фирменный стиль #дизайн упаковки
        ._col
            ._image.-ginger
                ._overlay
                    ._overlay-title.
                        «ПЛОМБИРЪ СИБИРЬ» <br>
                        Больше орехов, больше ягод
                    ._overlay-text.
                        #визуальная идентификация <br>
                        #фирменный стиль #дизайн упаковки
            a(href="#")._link Все проекты