.info.section
  ._wrap.wrap
    ._col
      ._text.
        Агентство A.STUDIO специализируется
        на оказании брендинговых услуг:
      ._text.
        исследования, стратегия, позиционирование 
        бренда, разработка имени и фирменного стиля, 
        рекламные и промо-материалы, нейминг
        и копирайтинг, создание веб-сайтов
    ._col
      ._text.
        Брендинговое агентство A.STUDIO основано в 2012 году. За свой относительно молодой 
        возраст оно добилось высокого профессионального уровня и сегодня по праву является 
        членом Ассоциации Брендинговых Компаний России.
      ._text.
        Сотрудники агентства глубоко убеждены в том, что каждое творческое решение должно 
        иметь маркетинговое обоснование. Практический опыт подсказывает, что любой успешный 
        проект строится на этом простом правиле. Каждый проект – это совместная работа агентства 
        и заказчика. Доверие, взаимопонимание и взаимопомощь – основа успешно выполненной работы. 
      ._text.
        Постоянное развитие профессиональных навыков и выход из зоны комфорта – это образ жизни, 
        которым живет агентство. Приложив все эти качества, мы создаем новые бренды, которыми можно 
        гордиться.