.main-slider.section
    ._show-project(data-role="open")
        span Смотреть проект
        +svg('chevron-down')
    .tab
        ._text Чем мы полезны
        ._look
            +icon('eye')
    .swiper-container(data-slider="big-slider").section
        .swiper-wrapper
            .swiper-slide
                .main-slider__wrap.wrap
                    include ../parlo-italiano/product-demo-head/product-demo-head
                    include ../parlo-italiano/product-demo-review/product-demo-review
                    include ../parlo-italiano/product-demo-embargo/product-demo-embargo
                    .product-demo-banner
                    include ../parlo-italiano/product-demo-description/product-demo-description
                    include ../parlo-italiano/product-demo-gallery/product-demo-gallery
                    .product-demo-burger
                        img(src="img/demo-burger.png")._img

            .swiper-slide
                .main-slider__wrap.wrap
                    include ../parlo-italiano/product-demo-head/product-demo-head
                    include ../parlo-italiano/product-demo-review/product-demo-review
                    include ../parlo-italiano/product-demo-embargo/product-demo-embargo
                    .product-demo-banner
                    include ../parlo-italiano/product-demo-description/product-demo-description
                    include ../parlo-italiano/product-demo-gallery/product-demo-gallery
                    .product-demo-burger
                        img(src="img/demo-burger.png")._img

            .swiper-slide
                .main-slider__wrap.wrap
                    include ../parlo-italiano/product-demo-head/product-demo-head
                    include ../parlo-italiano/product-demo-review/product-demo-review
                    include ../parlo-italiano/product-demo-embargo/product-demo-embargo
                    .product-demo-banner
                    include ../parlo-italiano/product-demo-description/product-demo-description
                    include ../parlo-italiano/product-demo-gallery/product-demo-gallery
                    .product-demo-burger
                        img(src="img/demo-burger.png")._img

        .main-slider__pagination
    ._about.section
        ._about-wrap.wrap
            h2._about-title Чем мы полезны
            button._about-close
                +svg('close')
            ._about-list
                ._about-item.-decor-1 С чего начать запуск нового продукта
                ._about-item.-decor-2 Падает объем <br>продаж продукта
                ._about-item.-decor-3 Продукт не <br>востребован <br>потребителями <br>и сетями
                ._about-item.-decor-4 Как освоить новые рынки сбыта
                ._about-item.-decor-5 Продукт не выделяется среди конкурентов
                ._about-item.-decor-6 Сформировать бренд- <br>портфель и сегменти-<br>ровать продукт
                ._about-item.-decor-7 Мы не знаем кто <br>наш потребитель <br> и наши конкуренты
                ._about-item.-decor-8 Чем может помочь брендинг
            ._about-slider
                .swiper-container(data-slider="upper-slider")
                    .swiper-wrapper
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title С чего начать запуск <br>нового продукта
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Падает объем <br>продаж продукта
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Продукт не востребован <br>потребителями и сетями
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Как освоить новые рынки сбыта
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Продукт не выделяется среди конкурентов
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Сформировать бренд-портфель<br>и сегментировать продукт
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Мы не знаем кто наш потребитель <br> и наши конкуренты
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.
                        .swiper-slide
                            .main-slider__about-slide
                                h3.main-slider__about-slide-title Чем может помочь брендинг
                                .main-slider__about-slide-desc
                                    .main-slider__about-slide-text.
                                        Говорим о брендинге и его волшебном воздействии на компании разного масштаба. <br>
                                        Рассказываем: с кем работает агентство, что делает для рынков B2C и B2B, от чего <br>
                                        и от кого зависит успех проекта и итоговый результат. Также поделились<br>
                                        планами агентства и проблемы развития брендингового бизнеса,<br>
                                        которые ощущаем на себе.
                                    .main-slider__about-slide-text.
                                        Самый продолжительный и объемный этап на пути к готовой бренд-платформе.<br>
                                        Он позволяет получить подробный анализ ситуации на рынке и выявить потенциальные<br>
                                        возможности для компании.
                                    .main-slider__about-slide-text.
                                        Данный этап включает в себя: анализ структуры рынка, определение рыночных тенденций,<br>
                                        выявление сильных и слабых сторон других игроков на рынке, а также самого продукта.

                .swiper-button-prev
                .swiper-button-next
                .swiper-container(data-slider="lower-slider").main-slider__about-lower
                    .swiper-wrapper
                        .swiper-slide
                            .main-slider__about-lower-slide С чего начать запуск нового продукта
                        .swiper-slide
                            .main-slider__about-lower-slide Падает объем продаж продукта
                        .swiper-slide
                            .main-slider__about-lower-slide Продукт не востребован потребителями и сетями
                        .swiper-slide
                            .main-slider__about-lower-slide Как освоить новые рынки сбыта
                        .swiper-slide
                            .main-slider__about-lower-slide Как освоить новые рынки сбыта
                        .swiper-slide
                            .main-slider__about-lower-slide Сформировать бренд-<br>портфель и сегменти-<br>ровать продукт
                        .swiper-slide
                            .main-slider__about-lower-slide Мы не знаем кто наш потребитель и наши конкуренты
                        .swiper-slide
                            .main-slider__about-lower-slide Чем может помочь брендинг
