.offers.section
    .h2._title.section__title Услуги
    ._wrap.wrap
        ._card
            ._card-name.-package
                ._card-text Дизайн&nbspупаковки
            ._card-view
                img(src="img/package.jpg", alt="slide")._card-img
                ._overlay
                    ._card-tooltip в&nbspраздел <br>упаковки
        ._card.-style
            ._card-name.-style
                ._card-text Фирменный&nbspстиль
            ._card-view
                img(src="img/style.jpg", alt="slide")._card-img
                ._overlay
                    ._card-tooltip в&nbspраздел <br>фирменного<br/>стиля
        ._card.-name
            ._card-name.-name
                ._card-text Нейминг
            ._card-view
                img(src="img/name.jpg", alt="slide")._card-img
                ._overlay
                    ._card-tooltip в&nbspраздел <br>нейминга
        ._card.-brand
            ._card-name.-brand
                ._card-text Брендинг
            ._card-view
                img(src="img/brand.jpg", alt="slide")._card-img
                ._overlay
                    ._card-tooltip в&nbspраздел <br>брендинга
