header.header.section
    ._wrap.wrap
        //._note «Здравствуй, день!» — бренд для полезного завтрака
        ._logo-wrap
            img(src="img/logo.png", alt="logo")._logo-img
            ._logo-text брендинговое агентство <br>A.STUDIO
        ._content-wrap
            ._menu
                nav._nav
                    a(href="#")._nav-link Портфолио
                    a(href="#")._nav-link Компания
                    a(href="#")._nav-link Услуги
                    a(href="#")._nav-link Блог
                    a(href="#")._nav-link Контакты
            a(href="#")._btn скачать презентацию
            ._contacts
                a(href="tel:+73832075518")._contacts-tel +7 (383) 207-55-18
                a(href="mailto:info@advertastudio.ru")._contacts-email info@advertastudio.ru