.product-demo-review.section
    ._wrap.wrap
        img(src="img/product-demo-review.jpg")._avatar
        ._info
            ._name Елизавета Демичева
            ._position директор по развитию
                br/ «Обнинский колбасный завод»
            ._text «Для нас это совершенно новая торговая  марка  и новое направление работы. Не было сомнений, что A.STUDIO придумали нелогичное название  и что оно не так отражает суть бренда. В итоге, конечные покупатели и сети получили оптимальный продукт: внешний вид и название полностью соответствуют внутренней составляющей&nbsp;марки»