.product-demo-embargo.section
    ._wrap.wrap
        ._title Эмбарго освобождает нишу
        ._box Запрет на ввоз продуктов из Европы позволил
            br/  занять место иностранных производителей на
            br/  полке. Однако отечественный продукт не всегда
            br/  соответсвует импортному качеству. Покупатель
            br/  предъявляет высокие требования к российскому
            br/  производителю, если тот предлагает сыр или
        ._box колбасу по иностранным рецептам. Чтобы
            br/  соответствовать запросам аудитории,
            br/  «Обнинский колбасный завод» нанимает
            br/  итальянских технологов и закупает импортное
            br/  оборудование.
